<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--其它配置-->
    <add key="界面配置文件" value="Config/UIConfig.xml" />
    <add key="传感器配置文件" value="Config/sensorConfig.xml" />
    <!--邮件提醒设置-->
    <add key="邮件接收人" value="mengft@txsec.com,527049200@qq.com" />
    <add key="发件人地址" value="mfantasy@mfant.com" />
    <add key="发件人昵称" value="设备提醒" />
    <add key="发件服务器" value="smtp.qq.com" />
    <add key="发件用户名" value="mfantasy@mfant.com" />
    <add key="发件密码" value="ryqmwpnrmoygcbdd" />
    <!--数据库设置-->
    <add key="conStrMySql" value="server=;User Id=;password=;Database=;Charset=utf8"/>
    <add key ="sqlitePath" value="" />
    <add key="conStrSqlite" value="Data Source=wsndata;" />
    <!--实时数据端口-->
    <add key="ip" value="119.10.71.68" />
    <add key="port" value="9007" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>

