<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--界面设置-->
    <add key="软件名称" value="山西省榆社县博物馆环境监测系统" />
    <!--其它配置-->
    <add key="传感器列表" value="AllSensors.xml" />
    <add key="预警配置文件" value="AlarmConfig.xml" />    
    <add key="传感器模型配置文件" value="SensorModel.xml" />
    <!--邮件提醒设置-->
    <add key="邮件接收人" value="527049200@qq.com" />
    <add key="发件人地址" value="mfantasy@mfant.com" />
    <add key="发件人昵称" value="设备提醒" />
    <add key="发件服务器" value="smtp.qq.com" />
    <add key="发件用户名" value="mfantasy@mfant.com" />
    <add key="发件密码" value="ryqmwpnrmoygcbdd" />    
    <!--数据库设置-->
    <add key="conStrMySql" value=""/>        
    <add key="dbPath" value="C:\Users\m1568\Desktop\test.db" />    
    <!--实时数据端口-->
    <add key="ip" value="119.10.71.68" />
    <!--add key="ip" value="127.0.0.1" /-->
    <add key="port" value="9007" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>

